/* 
    .<class> {

    }
    #<id> {

    }

*/

body {
    background-color: black;
}

.class {
    background-color: red;
    margin: 0;
    padding: 12px;
}
.class:hover {
    cursor: pointer;
}
#id {
    background-color: blue;
}

.container{
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-direction: row;
    align-items: center;
}